# Data Analysis

In [1]:
# Install the needed dependencies
import sys
!{sys.executable} -m pip install python-dotenv
!{sys.executable} -m pip install requests
!{sys.executable} -m pip install geopandas

Requirement already satisfied: python-dotenv in c:\users\cody\anaconda3\envs\dev\lib\site-packages (1.0.0)
Requirement already satisfied: requests in c:\users\cody\anaconda3\envs\dev\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from requests) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from requests) (3.4)
Requirement already satisfied: geopandas in c:\users\cody\anaconda3\envs\dev\lib\site-packages (0.9.0)
Requirement already satisfied: pyproj>=2.2.0 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from geopandas) (3.4.1)
Requirement already satisfied: fiona>=1.8 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: pandas>=0.24.0 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from geopandas) (1.5.3)
Requirement already satisfied: shapely>=1.6 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: click~=8.0 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: certifi in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: cligj>=0.5 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: click-plugins>=1.0 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from pandas>=0.24.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from pandas>=0.24.0->geopandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from pandas>=0.24.0->geopandas) (1.23.5)
Requirement already satisfied: colorama in c:\users\cody\anaconda3\envs\dev\lib\site-packages (from click~=8.0->fiona>=1.8->geopandas) (0.4.6)

In [2]:
# Importing the Needed Dependencies
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import os
import requests
import json
import csv
import geopandas as gpd
import pandas as pd
from pprint import pprint

In [3]:
# Import the API key
from dotenv import load_dotenv # to load secret .env file
load_dotenv()

True

# Top 3 Alternative Fuel Stations Data

## How many total of all of the top 3 most common alternative fuel stations are there on the West Coast (California), Central US (Texas) and East coast (New York) combined?

In [4]:
# Gathering information for all of the top 3 most common alternative fuel stations in 
# California, Texas and New York combined
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
top3_alt_fuels = ["E85","ELEC","LPG"]
country="US"
state="CA, TX, NY"

In [5]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(top3_alt_fuels), "country":country, "state":state}

In [6]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
top3_alt_fuels = r.json()
#top3_alt_fuels

In [7]:
# Serializing Json
top3_alt_fuels_obj = json.dumps(top3_alt_fuels, indent=4)
type(top3_alt_fuels_obj)

str

In [8]:
# Writing to top3_alt_fuels.json
with open("../output_data/data_analysis/json/top3_alt_fuels.json", "w") as outfile:
    outfile.write(top3_alt_fuels_obj)

### Creating a Dataframe of Top 3 Alternative Fuels

In [9]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_top3_alt_fuels = top3_alt_fuels['features']
#features_top3_alt_fuels

In [10]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_top3_alt_fuels_df = pd.DataFrame.from_dict(features_top3_alt_fuels)
features_top3_alt_fuels_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-118.3879713...","{'access_code': 'private', 'access_days_time':..."
1,Feature,"{'type': 'Point', 'coordinates': [-118.448504,...","{'access_code': 'private', 'access_days_time':..."
2,Feature,"{'type': 'Point', 'coordinates': [-118.271387,...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-118.248589,...","{'access_code': 'private', 'access_days_time':..."
4,Feature,"{'type': 'Point', 'coordinates': [-118.096665,...","{'access_code': 'private', 'access_days_time':..."
...,...,...,...
25121,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
25122,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
25123,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
25124,Feature,"{'type': 'Point', 'coordinates': [-95.985225, ...","{'access_code': 'public', 'access_days_time': ..."
25125,Feature,"{'type': 'Point', 'coordinates': [-95.985225, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [11]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/top3_alt_fuels.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_top3_alt_fuels_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

# California Alternate Fuel Stations Data

## How many total of all of the top 3 most common alternative fuel stations are there in California?

In [12]:
# Gathering information for all of the top 3 most common alternative fuel stations in California
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
top3_alt_fuels_CA = ["E85","ELEC","LPG"]
country="US"
state="CA"

In [13]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(top3_alt_fuels_CA), "country":country, "state":state}

In [14]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
top3_alt_fuels_CA = r.json()
#top3_alt_fuels_CA

In [15]:
# Serializing Json
top3_alt_fuels_CA_obj = json.dumps(top3_alt_fuels_CA, indent=4)
type(top3_alt_fuels_CA_obj)

str

In [16]:
# Writing to "top3_alt_fuels_CA.json"
with open("../output_data/data_analysis/json/top3_alt_fuels_CA.json", "w") as outfile:
    outfile.write(top3_alt_fuels_CA_obj)

### Creating a Dataframe of Top 3 Alternative Fuels in California

In [17]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_top3_alt_fuels_CA = top3_alt_fuels_CA['features']
#features_top3_alt_fuels_CA

In [18]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_top3_alt_fuels_CA_df = pd.DataFrame.from_dict(features_top3_alt_fuels_CA)
features_top3_alt_fuels_CA_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-118.3879713...","{'access_code': 'private', 'access_days_time':..."
1,Feature,"{'type': 'Point', 'coordinates': [-118.448504,...","{'access_code': 'private', 'access_days_time':..."
2,Feature,"{'type': 'Point', 'coordinates': [-118.271387,...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-118.248589,...","{'access_code': 'private', 'access_days_time':..."
4,Feature,"{'type': 'Point', 'coordinates': [-118.096665,...","{'access_code': 'private', 'access_days_time':..."
...,...,...,...
17322,Feature,"{'type': 'Point', 'coordinates': [-116.969808,...","{'access_code': 'public', 'access_days_time': ..."
17323,Feature,"{'type': 'Point', 'coordinates': [-116.969739,...","{'access_code': 'public', 'access_days_time': ..."
17324,Feature,"{'type': 'Point', 'coordinates': [-119.28747, ...","{'access_code': None, 'access_days_time': 'Emp..."
17325,Feature,"{'type': 'Point', 'coordinates': [-116.969933,...","{'access_code': 'public', 'access_days_time': ..."
17326,Feature,"{'type': 'Point', 'coordinates': [-122.1495, 3...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [19]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/top3_alt_fuels_CA.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_top3_alt_fuels_CA_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many ethanol fueling stations are there in California?

In [20]:
# Gathering information for all of the ethanol fuel stations in California
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
E85_CA = ["E85"]
country="US"
state="CA"

In [21]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(E85_CA), "country":country, "state":state}

In [22]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
E85_CA = r.json()
#E85_CA

In [23]:
# Serializing Json
E85_CA_obj = json.dumps(E85_CA, indent=4)
type(E85_CA_obj)

str

In [24]:
# Writing to "E85_CA.json"
with open("../output_data/data_analysis/json/E85_CA.json", "w") as outfile:
    outfile.write(E85_CA_obj)

### Creating a Dataframe of Ethanol Fueling Stations in California

In [25]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_E85_CA = E85_CA['features']
#features_E85_CA

In [26]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_E85_CA_df = pd.DataFrame.from_dict(features_E85_CA)
features_E85_CA_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-117.107501,...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-117.251427,...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-118.465643,...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-117.364261,...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-121.999551,...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
349,Feature,"{'type': 'Point', 'coordinates': [-118.06816, ...","{'access_code': 'public', 'access_days_time': ..."
350,Feature,"{'type': 'Point', 'coordinates': [-117.7356403...","{'access_code': 'public', 'access_days_time': ..."
351,Feature,"{'type': 'Point', 'coordinates': [-117.4038544...","{'access_code': 'public', 'access_days_time': ..."
352,Feature,"{'type': 'Point', 'coordinates': [-118.2534124...","{'access_code': 'public', 'access_days_time': ..."
353,Feature,"{'type': 'Point', 'coordinates': [-117.558945,...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [27]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/E85_CA.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_E85_CA_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many electric charging stations are there in California?

In [28]:
# Gathering information for all of the electric charging stations in California
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
ELEC_CA = ["ELEC"]
country="US"
state="CA"

In [29]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(ELEC_CA), "country":country, "state":state}

In [30]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
ELEC_CA = r.json()
#ELEC_CA

In [31]:
# Serializing Json
ELEC_CA_obj = json.dumps(ELEC_CA, indent=4)
type(ELEC_CA_obj)

str

In [32]:
# Writing to "ELEC_CA.json"
with open("../output_data/data_analysis/json/ELEC_CA.json", "w") as outfile:
    outfile.write(ELEC_CA_obj)

### Creating a Dataframe of Electric Car Charging Stations in California

In [33]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_ELEC_CA = ELEC_CA['features']
#features_ELEC_CA

In [34]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_ELEC_CA_df = pd.DataFrame.from_dict(features_ELEC_CA)
features_ELEC_CA_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-118.3879713...","{'access_code': 'private', 'access_days_time':..."
1,Feature,"{'type': 'Point', 'coordinates': [-118.448504,...","{'access_code': 'private', 'access_days_time':..."
2,Feature,"{'type': 'Point', 'coordinates': [-118.271387,...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-118.248589,...","{'access_code': 'private', 'access_days_time':..."
4,Feature,"{'type': 'Point', 'coordinates': [-118.096665,...","{'access_code': 'private', 'access_days_time':..."
...,...,...,...
16711,Feature,"{'type': 'Point', 'coordinates': [-116.969808,...","{'access_code': 'public', 'access_days_time': ..."
16712,Feature,"{'type': 'Point', 'coordinates': [-116.969739,...","{'access_code': 'public', 'access_days_time': ..."
16713,Feature,"{'type': 'Point', 'coordinates': [-119.28747, ...","{'access_code': None, 'access_days_time': 'Emp..."
16714,Feature,"{'type': 'Point', 'coordinates': [-116.969933,...","{'access_code': 'public', 'access_days_time': ..."
16715,Feature,"{'type': 'Point', 'coordinates': [-122.1495, 3...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [35]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/ELEC_CA.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_ELEC_CA_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many propane fueling stations are there in California?

In [36]:
# Gathering information for all of the propane fuel stations in California
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
LPG_CA = ["LPG"]
country="US"
state="CA"

In [37]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(LPG_CA), "country":country, "state":state}

In [38]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
LPG_CA = r.json()
#LPG_CA

In [39]:
# Serializing Json
LPG_CA_obj = json.dumps(LPG_CA, indent=4)
type(LPG_CA_obj)

str

In [40]:
# Writing to "LPG_CA.json"
with open("../output_data/data_analysis/json/LPG_CA.json", "w") as outfile:
    outfile.write(LPG_CA_obj)

### Creating a Dataframe of Liquid Propane Gas Fueling Stations in California

In [41]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_LPG_CA = LPG_CA['features']
#features_LPG_CA

In [42]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_LPG_CA_df = pd.DataFrame.from_dict(features_LPG_CA)
features_LPG_CA_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-117.7076, 3...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-118.001197,...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-119.2785736...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-121.131276,...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-122.048376,...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
252,Feature,"{'type': 'Point', 'coordinates': [-118.535701,...","{'access_code': 'public', 'access_days_time': ..."
253,Feature,"{'type': 'Point', 'coordinates': [-117.21772, ...","{'access_code': 'public', 'access_days_time': ..."
254,Feature,"{'type': 'Point', 'coordinates': [-118.74337, ...","{'access_code': 'public', 'access_days_time': ..."
255,Feature,"{'type': 'Point', 'coordinates': [-118.28712, ...","{'access_code': 'public', 'access_days_time': ..."
256,Feature,"{'type': 'Point', 'coordinates': [-122.32367, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [43]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/LPG_CA.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_LPG_CA_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

# Texas Alternate Fuel Stations Data

## How many total of all of the top 3 most common alternative fuel stations are there in Texas?

In [44]:
# Gathering information for all of the top 3 most common alternative fuel stations in Texas
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
top3_alt_fuels_TX = ["E85","ELEC","LPG"]
country="US"
state="TX"

In [45]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(top3_alt_fuels_TX), "country":country, "state":state}

In [46]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
top3_alt_fuels_TX = r.json()
#top3_alt_fuels_TX

In [47]:
# Serializing Json
top3_alt_fuels_TX_obj = json.dumps(top3_alt_fuels_TX, indent=4)
type(top3_alt_fuels_TX_obj)

str

In [48]:
# Writing to "top3_alt_fuels_TX.json"
with open("../output_data/data_analysis/json/top3_alt_fuels_TX.json", "w") as outfile:
    outfile.write(top3_alt_fuels_TX_obj)

### Creating a Dataframe of Top 3 Alternative Fuels in Texas

In [49]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_top3_alt_fuels_TX = top3_alt_fuels_TX['features']
#features_top3_alt_fuels_TX

In [50]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_top3_alt_fuels_TX_df = pd.DataFrame.from_dict(features_top3_alt_fuels_TX)
features_top3_alt_fuels_TX_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-101.885391,...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-96.73629, 3...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-95.54979990...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-94.226198, ...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-95.345249, ...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
3651,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
3652,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
3653,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
3654,Feature,"{'type': 'Point', 'coordinates': [-95.985225, ...","{'access_code': 'public', 'access_days_time': ..."
3655,Feature,"{'type': 'Point', 'coordinates': [-95.985225, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [51]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/top3_alt_fuels_TX.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_top3_alt_fuels_TX_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many ethanol fueling stations are there in Texas?

In [52]:
# Gathering information for all of the ethanol fuel stations in Texas
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
E85_TX = ["E85"]
country="US"
state="TX"

In [53]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(E85_TX), "country":country, "state":state}

In [54]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
E85_TX = r.json()
#E85_TX

In [55]:
# Serializing Json
E85_TX_obj = json.dumps(E85_TX, indent=4)
type(E85_TX_obj)

str

In [56]:
# Writing to "E85_TX.json"
with open("../output_data/data_analysis/json/E85_TX.json", "w") as outfile:
    outfile.write(E85_TX_obj)

### Creating a Dataframe of Ethanol Fueling Stations in Texas

In [57]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_E85_TX = E85_TX['features']
#features_E85_TX

In [58]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_E85_TX_df = pd.DataFrame.from_dict(features_E85_TX)
features_E85_TX_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-97.671997, ...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-97.8206, 30...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-95.631595, ...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-96.960994, ...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-97.736095, ...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
259,Feature,"{'type': 'Point', 'coordinates': [-97.10904, 3...","{'access_code': 'public', 'access_days_time': ..."
260,Feature,"{'type': 'Point', 'coordinates': [-96.30052160...","{'access_code': 'public', 'access_days_time': ..."
261,Feature,"{'type': 'Point', 'coordinates': [-94.97697, 2...","{'access_code': 'public', 'access_days_time': ..."
262,Feature,"{'type': 'Point', 'coordinates': [-94.08458, 3...","{'access_code': 'public', 'access_days_time': ..."
263,Feature,"{'type': 'Point', 'coordinates': [-95.76482, 2...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [59]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/E85_TX.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_E85_TX_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many electric charging stations are there in Texas?

In [60]:
# Gathering information for all of the electric charging stations in Texas
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
ELEC_TX = ["ELEC"]
country="US"
state="TX"

In [61]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(ELEC_TX), "country":country, "state":state}

In [62]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
ELEC_TX = r.json()
#ELEC_TX

In [63]:
# Serializing Json
ELEC_TX_obj = json.dumps(ELEC_TX, indent=4)
type(ELEC_TX_obj)

str

In [64]:
# Writing to "ELEC_TX.json"
with open("../output_data/data_analysis/json/ELEC_TX.json", "w") as outfile:
    outfile.write(ELEC_TX_obj)

### Creating a Dataframe of Electric Car Charging Stations in Texas

In [65]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_ELEC_TX = ELEC_TX['features']
#features_ELEC_TX

In [66]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_ELEC_TX_df = pd.DataFrame.from_dict(features_ELEC_TX)
features_ELEC_TX_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-95.372854, ...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-97.759109, ...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-99.771463, ...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-101.938937,...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-97.087169, ...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
3029,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
3030,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
3031,Feature,"{'type': 'Point', 'coordinates': [-95.98519, 3...","{'access_code': 'public', 'access_days_time': ..."
3032,Feature,"{'type': 'Point', 'coordinates': [-95.985225, ...","{'access_code': 'public', 'access_days_time': ..."
3033,Feature,"{'type': 'Point', 'coordinates': [-95.985225, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [67]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/ELEC_TX.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_ELEC_TX_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many propane fueling stations are there in Texas?

In [68]:
# Gathering information for all of the propane fuel stations in Texas
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
LPG_TX = ["LPG"]
country="US"
state="TX"

In [69]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(LPG_TX), "country":country, "state":state}

In [70]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
LPG_TX = r.json()
#LPG_TX

In [71]:
# Serializing Json
LPG_TX_obj = json.dumps(LPG_TX, indent=4)
type(LPG_TX_obj)

str

In [72]:
# Writing to "LPG_TX.json"
with open("../output_data/data_analysis/json/LPG_TX.json", "w") as outfile:
    outfile.write(LPG_TX_obj)

### Creating a Dataframe of Liquid Propane Gas Fueling Stations in Texas

In [73]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_LPG_TX = LPG_TX['features']
#features_LPG_TX

In [74]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_LPG_TX_df = pd.DataFrame.from_dict(features_LPG_TX)
features_LPG_TX_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-101.885391,...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-96.73629, 3...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-95.54979990...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-94.226198, ...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-95.345249, ...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
353,Feature,"{'type': 'Point', 'coordinates': [-95.240462, ...","{'access_code': 'public', 'access_days_time': ..."
354,Feature,"{'type': 'Point', 'coordinates': [-97.287105, ...","{'access_code': 'private', 'access_days_time':..."
355,Feature,"{'type': 'Point', 'coordinates': [-94.192517, ...","{'access_code': 'public', 'access_days_time': ..."
356,Feature,"{'type': 'Point', 'coordinates': [-97.67691, 2...","{'access_code': 'public', 'access_days_time': ..."
357,Feature,"{'type': 'Point', 'coordinates': [-95.54234, 2...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [75]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/LPG_TX.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_LPG_TX_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

# New York Alternate Fuel Stations Data

## How many total of all of the top 3 most common alternative fuel stations are there in New York?

In [76]:
# Gathering information for all of the top 3 most common alternative fuel stations in New York
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
top3_alt_fuels_NY = ["E85","ELEC","LPG"]
country="US"
state="NY"

In [77]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(top3_alt_fuels_NY), "country":country, "state":state}

In [78]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
top3_alt_fuels_NY = r.json()
#top3_alt_fuels_NY

In [79]:
# Serializing Json
top3_alt_fuels_NY_obj = json.dumps(top3_alt_fuels_NY, indent=4)
type(top3_alt_fuels_NY_obj)

str

In [80]:
# Writing to "top3_alt_fuels_NY.json"
with open("../output_data/data_analysis/json/top3_alt_fuels_NY.json", "w") as outfile:
    outfile.write(top3_alt_fuels_NY_obj)

### Creating a Dataframe of Top 3 Alternative Fuels in New York

In [81]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_top3_alt_fuels_NY = top3_alt_fuels_NY['features']
#features_top3_alt_fuels_NY

In [82]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_top3_alt_fuels_NY_df = pd.DataFrame.from_dict(features_top3_alt_fuels_NY)
features_top3_alt_fuels_NY_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-74.672938, ...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-78.85922572...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-73.634055, ...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-73.160001, ...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-73.464669, ...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
4138,Feature,"{'type': 'Point', 'coordinates': [-73.15867, 4...","{'access_code': 'public', 'access_days_time': ..."
4139,Feature,"{'type': 'Point', 'coordinates': [-73.15845, 4...","{'access_code': 'public', 'access_days_time': ..."
4140,Feature,"{'type': 'Point', 'coordinates': [-72.755549, ...","{'access_code': 'public', 'access_days_time': ..."
4141,Feature,"{'type': 'Point', 'coordinates': [-72.755536, ...","{'access_code': 'public', 'access_days_time': ..."
4142,Feature,"{'type': 'Point', 'coordinates': [-77.685189, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [83]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/top3_alt_fuels_NY.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_top3_alt_fuels_NY_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many ethanol fueling stations are there in New York?

In [84]:
# Gathering information for all of the ethanol fuel stations in New York
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
E85_NY = ["E85"]
country="US"
state="NY"

In [85]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(E85_NY), "country":country, "state":state}

In [86]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
E85_NY = r.json()
#E85_NY

In [87]:
# Serializing Json
E85_NY_obj = json.dumps(E85_NY, indent=4)
type(E85_NY_obj)

str

In [88]:
# Writing to "E85_NY.json"
with open("../output_data/data_analysis/json/E85_NY.json", "w") as outfile:
    outfile.write(E85_NY_obj)

### Creating a Dataframe of Ethanol Fueling Stations in New York

In [89]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_E85_NY = E85_NY['features']
#features_E85_NY

In [90]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_E85_NY_df = pd.DataFrame.from_dict(features_E85_NY)
features_E85_NY_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-73.464669, ...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-73.99777, 4...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-73.393473, ...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-73.776371, ...","{'access_code': 'private', 'access_days_time':..."
4,Feature,"{'type': 'Point', 'coordinates': [-73.701367, ...","{'access_code': 'public', 'access_days_time': ..."
...,...,...,...
69,Feature,"{'type': 'Point', 'coordinates': [-73.919457, ...","{'access_code': 'public', 'access_days_time': ..."
70,Feature,"{'type': 'Point', 'coordinates': [-71.947876, ...","{'access_code': 'public', 'access_days_time': ..."
71,Feature,"{'type': 'Point', 'coordinates': [-74.18958062...","{'access_code': 'public', 'access_days_time': ..."
72,Feature,"{'type': 'Point', 'coordinates': [-73.4913, 40...","{'access_code': 'public', 'access_days_time': ..."
73,Feature,"{'type': 'Point', 'coordinates': [-73.24568, 4...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [91]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/E85_NY.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_E85_NY_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many electric charging stations are there in New York?

In [92]:
# Gathering information for all of the electric charging stations in New York
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
ELEC_NY = ["ELEC"]
country="US"
state="NY"

In [93]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(ELEC_NY), "country":country, "state":state}

In [94]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
ELEC_NY = r.json()
#ELEC_NY

In [95]:
# Serializing Json
ELEC_NY_obj = json.dumps(ELEC_NY, indent=4)
type(ELEC_NY_obj)

str

In [96]:
# Writing to "ELEC_NY.json"
with open("../output_data/data_analysis/json/ELEC_NY.json", "w") as outfile:
    outfile.write(ELEC_NY_obj)

### Creating a Dataframe of Electric Car Charging Stations in New York

In [97]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_ELEC_NY = ELEC_NY['features']
#features_ELEC_NY

In [98]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_ELEC_NY_df = pd.DataFrame.from_dict(features_ELEC_NY)
features_ELEC_NY_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-73.608978, ...","{'access_code': 'private', 'access_days_time':..."
1,Feature,"{'type': 'Point', 'coordinates': [-73.857693, ...","{'access_code': 'private', 'access_days_time':..."
2,Feature,"{'type': 'Point', 'coordinates': [-73.773021, ...","{'access_code': 'private', 'access_days_time':..."
3,Feature,"{'type': 'Point', 'coordinates': [-73.774182, ...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-73.906405, ...","{'access_code': 'private', 'access_days_time':..."
...,...,...,...
4015,Feature,"{'type': 'Point', 'coordinates': [-73.15867, 4...","{'access_code': 'public', 'access_days_time': ..."
4016,Feature,"{'type': 'Point', 'coordinates': [-73.15845, 4...","{'access_code': 'public', 'access_days_time': ..."
4017,Feature,"{'type': 'Point', 'coordinates': [-72.755549, ...","{'access_code': 'public', 'access_days_time': ..."
4018,Feature,"{'type': 'Point', 'coordinates': [-72.755536, ...","{'access_code': 'public', 'access_days_time': ..."
4019,Feature,"{'type': 'Point', 'coordinates': [-77.685189, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [99]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/ELEC_NY.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_ELEC_NY_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])

## How many propane fueling stations are there in New York?

In [100]:
# Gathering information for all of the electric charging stations in New York
api_key = os.environ["AFDC_API"]
url = "https://developer.nrel.gov/api/alt-fuel-stations/v1.geojson"
LPG_NY = ["LPG"]
country="US"
state="NY"

In [101]:
# Craft the URL params
payload = {'api_key': api_key, 'fuel_type': (',').join(LPG_NY), "country":country, "state":state}

In [102]:
# Requesting the above data from the API
r = requests.get(url, params=payload)
LPG_NY = r.json()
#LPG_NY

In [103]:
# Serializing Json
LPG_NY_obj = json.dumps(LPG_NY, indent=4)
type(LPG_NY_obj)

str

In [104]:
# Writing to "LPG_NY.json"
with open("../output_data/data_analysis/json/LPG_NY.json", "w") as outfile:
    outfile.write(LPG_NY_obj)

### Creating a Dataframe of Liquid Propane Gas Fueling Stations in New York

In [105]:
# Extracting the features data
# Each feature seems to represent a station on a map
features_LPG_NY = LPG_NY['features']
#features_LPG_NY

In [106]:
# Creating a dataframe for analysis by creating a dictionary of data first
# This is the raw form, not very usable
features_LPG_NY_df = pd.DataFrame.from_dict(features_LPG_NY)
features_LPG_NY_df

,type,geometry,properties
0,Feature,"{'type': 'Point', 'coordinates': [-74.672938, ...","{'access_code': 'public', 'access_days_time': ..."
1,Feature,"{'type': 'Point', 'coordinates': [-78.85922572...","{'access_code': 'public', 'access_days_time': ..."
2,Feature,"{'type': 'Point', 'coordinates': [-73.634055, ...","{'access_code': 'public', 'access_days_time': ..."
3,Feature,"{'type': 'Point', 'coordinates': [-73.160001, ...","{'access_code': 'public', 'access_days_time': ..."
4,Feature,"{'type': 'Point', 'coordinates': [-76.6744609,...","{'access_code': 'public', 'access_days_time': ..."
5,Feature,"{'type': 'Point', 'coordinates': [-73.558148, ...","{'access_code': 'public', 'access_days_time': ..."
6,Feature,"{'type': 'Point', 'coordinates': [-73.580334, ...","{'access_code': 'private', 'access_days_time':..."
7,Feature,"{'type': 'Point', 'coordinates': [-73.855453, ...","{'access_code': 'private', 'access_days_time':..."
8,Feature,"{'type': 'Point', 'coordinates': [-77.65186, 4...","{'access_code': 'private', 'access_days_time':..."
9,Feature,"{'type': 'Point', 'coordinates': [-74.384605, ...","{'access_code': 'public', 'access_days_time': ..."
10,Feature,"{'type': 'Point', 'coordinates': [-74.313151, ...","{'access_code': 'public', 'access_days_time': ..."
11,Feature,"{'type': 'Point', 'coordinates': [-73.462166, ...","{'access_code': 'public', 'access_days_time': ..."
12,Feature,"{'type': 'Point', 'coordinates': [-74.869904, ...","{'access_code': 'public', 'access_days_time': ..."
13,Feature,"{'type': 'Point', 'coordinates': [-78.980875, ...","{'access_code': 'public', 'access_days_time': ..."
14,Feature,"{'type': 'Point', 'coordinates': [-74.050373, ...","{'access_code': 'public', 'access_days_time': ..."
15,Feature,"{'type': 'Point', 'coordinates': [-73.928773, ...","{'access_code': 'public', 'access_days_time': ..."
16,Feature,"{'type': 'Point', 'coordinates': [-76.909097, ...","{'access_code': 'public', 'access_days_time': ..."
17,Feature,"{'type': 'Point', 'coordinates': [-77.57094, 4...","{'access_code': 'private', 'access_days_time':..."
18,Feature,"{'type': 'Point', 'coordinates': [-73.646191, ...","{'access_code': 'public', 'access_days_time': ..."
19,Feature,"{'type': 'Point', 'coordinates': [-76.107338, ...","{'access_code': 'public', 'access_days_time': ..."
20,Feature,"{'type': 'Point', 'coordinates': [-73.675593, ...","{'access_code': 'public', 'access_days_time': ..."
21,Feature,"{'type': 'Point', 'coordinates': [-75.456128, ...","{'access_code': 'public', 'access_days_time': ..."
22,Feature,"{'type': 'Point', 'coordinates': [-73.693527, ...","{'access_code': 'public', 'access_days_time': ..."
23,Feature,"{'type': 'Point', 'coordinates': [-78.696704, ...","{'access_code': 'public', 'access_days_time': ..."
24,Feature,"{'type': 'Point', 'coordinates': [-75.91733, 4...","{'access_code': 'public', 'access_days_time': ..."
25,Feature,"{'type': 'Point', 'coordinates': [-78.752089, ...","{'access_code': 'public', 'access_days_time': ..."
26,Feature,"{'type': 'Point', 'coordinates': [-76.124668, ...","{'access_code': 'public', 'access_days_time': ..."
27,Feature,"{'type': 'Point', 'coordinates': [-78.911044, ...","{'access_code': 'public', 'access_days_time': ..."
28,Feature,"{'type': 'Point', 'coordinates': [-75.289786, ...","{'access_code': 'public', 'access_days_time': ..."
29,Feature,"{'type': 'Point', 'coordinates': [-75.981663, ...","{'access_code': 'public', 'access_days_time': ..."
30,Feature,"{'type': 'Point', 'coordinates': [-77.444356, ...","{'access_code': 'public', 'access_days_time': ..."
31,Feature,"{'type': 'Point', 'coordinates': [-73.750972, ...","{'access_code': 'public', 'access_days_time': ..."
32,Feature,"{'type': 'Point', 'coordinates': [-73.867904, ...","{'access_code': 'public', 'access_days_time': ..."
33,Feature,"{'type': 'Point', 'coordinates': [-76.581206, ...","{'access_code': 'public', 'access_days_time': ..."
34,Feature,"{'type': 'Point', 'coordinates': [-75.123441, ...","{'access_code': 'public', 'access_days_time': ..."
35,Feature,"{'type': 'Point', 'coordinates': [-76.833014, ...","{'access_code': 'public', 'access_days_time': ..."
36,Feature,"{'type': 'Point', 'coordinates': [-77.702153, ...","{'access_code': 'public', 'access_days_time': ..."
37,Feature,"{'type': 'Point', 'coordinates': [-77.652374, ...","{'access_code': 'public', 'access_days_time': ..."
38,Feature,"{'type': 'Point', 'coordinates': [-73.498311, ...","{'access_code': 'public', 'access_days_time': ..."
39,Feature,"{'type': 'Point', 'coordinates': [-77.567113, ...","{'access_code': 'public', 'access_days_time': ..."
40,Feature,"{'type': 'Point', 'coordinates': [-76.513925, ...","{'access_code': 'public', 'access_days_time': ..."
41,Feature,"{'type': 'Point', 'coordinates': [-74.786002, ...","{'access_code': 'private', 'access_days_time':..."
42,Feature,"{'type': 'Point', 'coordinates': [-79.634017, ...","{'access_code': 'public', 'access_days_time': ..."
43,Feature,"{'type': 'Point', 'coordinates': [-72.947099, ...","{'access_code': 'public', 'access_days_time': ..."
44,Feature,"{'type': 'Point', 'coordinates': [-75.99850832...","{'access_code': 'public', 'access_days_time': ..."
45,Feature,"{'type': 'Point', 'coordinates': [-73.949068, ...","{'access_code': 'public', 'access_days_time': ..."
46,Feature,"{'type': 'Point', 'coordinates': [-73.4223, 42...","{'access_code': 'private', 'access_days_time':..."
47,Feature,"{'type': 'Point', 'coordinates': [-74.794855, ...","{'access_code': 'private', 'access_days_time':..."
48,Feature,"{'type': 'Point', 'coordinates': [-74.640756, ...","{'access_code': 'public', 'access_days_time': ..."

### Exporting Cleaned Dataframe to CSV

In [107]:
import csv

# Identifying the data points you need from the data
list_to_df = list() # We want to convert this list into a dataframe
data_pt = dict() # This is each individual feature/record

with open('../output_data/data_analysis/csv/LPG_NY.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile, delimiter=',')
    
    # Insert column headers
    csvwriter.writerow(['id', 'state', 'coordinates','fuel type'])

    for i, v in features_LPG_NY_df.iterrows():

        data_pt['id'] = v['properties']['id']
        data_pt['state'] = v['properties']['state']
        data_pt['coordinates'] = v['geometry']['coordinates']
        data_pt['fuel_type_code'] = v['properties']['fuel_type_code']

        #print([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])
        csvwriter.writerow([data_pt['id'], data_pt['state'], data_pt['coordinates'],data_pt['fuel_type_code']])